/GitProject/Library/metadata/
/GitProject/Library/PackageCache/
/GitProject/Library/PackageCache/
/GitProject/Library/PackageCache
/GitProject/Temp/
/GitProject/Library/ShaderCache/
/GitProject/Library/PackageCache/
